* {
    box-sizing: border-box;
}
  


main .book-detail { 
    margin : 50px 30% 0 30%; 
    text-align: center;
    width : 35%;
    background-color : lightgrey;
    padding-top: 20px; 
}
main aside {
    margin :  50px 30% 0 30%;

}

main .login {
    margin :  50px 30% 0 30%;
}



main .form-title {
    font-size: 20px;
    font-style: italic;
    text-align: center;
    color: gray;

}
main .form-input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  main .form-submit {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  main .form-submit:hover {
    background-color: #45a049;
  }
  
  main .register, main .login {
    margin :  50px 30% 0 30%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }


/* Nav Bar Styling */
/* _________________ */
/* _________________ */

  header nav {
    width: 100%;
    height: 47px; 
    overflow: hidden;
    background-color: #e9e9e9;
    position: fixed;
    top: 0;
  }

  header nav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.4em;
    cursor: pointer;
  }
  
  header nav a:hover {
    background-color: #ddd;
    color: black;
  }

  header nav a.active {
    background-color: #2196F3;
    color: white;
  }
  header nav .nav-site-logo {
    display: inline-block;
  }

  header nav .nav-site-logo a {
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-style: italic;
      color: darkmagenta;
  }
  
  header nav .nav-search-bar {
    display: inline-block;
    vertical-align: top;
    margin-left: 3%;
  }

  header nav .form-input {

        padding: 6px;
        margin-top: 8px;
        font-size: 17px;
        border: none;
  }

  header nav select {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }

  header nav .form-submit {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }

  header nav .form-submit:hover{
    background: #ccc;
  }
  
  header nav .nav-log {
    display: inline-block;
  }
  
  header nav .nav-cart {
    display: inline-block;
    float: right;
    margin-right: 3%;
  }
.nav-cart span {
        font-size: 18px;
        font-weight: 900;
        position: absolute;
        border: solid blue;
        border-radius: 60%;
        height: 25px;
        width: 20px;
        background:blue;
}

/* BOOK LIST STYlING */
/* _________________ */
/* _________________ */


main .book-list {
    margin-left : 20%;
    margin-top: 100px;
}

.book-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    min-width: 300px;
    width: 20%;
    border-radius: 5px;
    display: inline-block;
    margin: 30px 70px;
  }
  
  .book-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .book-card img {
      border-radius: 5px 5px 0 0;
      width: 100%;
      max-height: 250px;
    }
  
    .book-container {
      padding: 2px 16px;
    }

    .book-detail-card {
        margin : 100px 35% 0 35%;
    }

    .book-detail-card button {
        width: 100%;
        font-size: 20px;
        background-color: white; 
        color: black; 
        border: 2px solid #008CBA;
    } 
      
    .book-detail-card button:hover {
        background-color: #008CBA;
        color: white;
      }
      